:root {
  --color-highlight: #efc807;
  --color-background: #09062d;
  --color-alert: #d7263d;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  max-width: 100vw;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #d3d3d3;
  font-size: 1.25rem;
  line-height: 1.75rem;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}
section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 2rem; */
}
li {
  margin-bottom: 2rem;
}
.sub-section {
  max-width: 100%;
  margin-bottom: 2rem;
}
.flex-row:first-of-type {
  margin-top: 2rem;
}
.emphasis {
  font-style: italic;
}
.bold {
  font-weight: 500;
}
.text-container {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sub-section.constrained-height {
  height: 100%;
  max-height: 100vh;
}
.sub-section.cols-1 {
  max-width: 650px;
  /* display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 2rem;
  max-width: 90vw; */
}
span.highlight {
  color: var(--color-highlight);
}
.flex-row {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
  line-height: 2rem;
  vertical-align: middle;
}
.flex-row h3 {
  margin: 0;
}
svg {
  /* For inline SVGs - changes fill color */
  fill: var(--color-highlight);

  /* For stroke-based SVGs */
  stroke: var(--color-highlight);

  /* To inherit text color */
  fill: currentColor;

  background-color: var(--color-background);
}

/* Or target specific paths */
svg path {
  fill: var(--color-highlight);
}
.sub-section.cols-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "text image";
  gap: 2rem;
  max-width: 90vw;
}
.flex-center-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.media-container {
  position: relative;
  width: 100%;
  height: 80vh;
  margin: 0;
  margin-left: 0;
  /* aspect-ratio: 9 / 16; */
  overflow: hidden;
  border: 1px solid var(--color-highlight);
  border-radius: 8px;
  margin-bottom: 2rem;
  justify-self: start;
}
.media-container iframe {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 100%; /* Constrain to parent */
  margin: 0 auto;
  overflow: hidden;
  border: 1px solid var(--color-highlight);
  border-radius: 8px;
}
.media-container.aspect-9-16,
.media-container.aspect-16-9 > iframe {
  aspect-ratio: 9 / 16;
  width: auto;
}
.media-container.aspect-16-9,
.media-container.aspect-16-9 > iframe {
  aspect-ratio: 16/9;
  width: 100%;
  height: auto;
}
.image.icon {
  height: 4rem;
  width: 4rem;
}
.image.icon > svg {
  width: 100%;
  height: 100%;
}
.section-image-over-text {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}
.section-header {
  display: flex;
  justify-content: start;
  margin-top: 4rem;
  margin-bottom: 0;
  text-align: left;
}
.section-header > h2 {
  font-size: 4rem;
  text-align: left;
}
h2 {
  text-align: left;
}
h3 {
  font-size: 2rem;
  margin-top: 6rem;
  margin-bottom: 1rem;
  text-align: left;
  color: var(--color-highlight);
}
p {
  margin-top: 0;
}
p:last-of-type {
  margin-bottom: 2rem;
}
.section-header-text-image > .text {
  width: 50%;
  grid-area: text;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-header-text-image > .image {
}
.section-header-text-image:last-child > img {
  height: 300px;
}
section#above-the-fold {
  position: relative;
  height: 100vh;
  width: 100%;
  max-width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "heading heading"
    "form price"
    "footer footer";
}
footer,
.section-footer {
  background-color: var(--color-highlight);
  width: 100%;
  margin: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer {
  height: 22vh;
}
.section-footer {
  grid-area: footer;
  height: 5vh;
}
.section-footer > span {
  color: var(--color-background);
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
}
#heading {
  grid-area: heading;
  z-index: 2;
}
#heading h1 {
  font-size: 3rem;
  font-weight: 700;
  font-style: italic;
  line-height: 1.2;
  text-align: left;
  margin-left: 5vw;
  margin-top: 5vh;
}
#heading h1 > span {
  color: var(--color-highlight);
  font-size: 3.75rem;
  line-height: 1;
}
#donor-image-container {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
button.buy-now {
  width: 18rem;
  height: 4rem;
  font-size: 1.75rem;
  font-weight: 500;
  color: var(--color-background);
  background-color: var(--color-highlight);
  /* border: solid 4px var(--color-background); */
  z-index: 100;
  box-shadow: rgba(215, 38, 61, 0.4) -5px 5px, rgba(215, 38, 61, 0.3) -10px 10px,
    rgba(215, 38, 61, 0.2) -15px 15px, rgba(215, 38, 61, 0.1) -20px 20px,
    rgba(215, 38, 61, 0.05) -25px 25px;
  transform: translateY(0);
  transition: all 0.1s ease;
}

button.buy-now:hover {
  box-shadow: 0 4px 0 var(--color-background), 0 6px 8px rgba(0, 0, 0, 0.3);
  transform: translateY(2px);
}

button.buy-now:active {
  box-shadow: 0 2px 0 #c5a500, 0 3px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(4px);
}
button.button-fixed {
  position: fixed;
  top: 5vw;
  right: 5vw;
}
button.button-dark {
  background-color: var(--color-background);
  color: var(--color-highlight);
}
#riverside-interview {
  width: 100%;
  height: auto;
  object-fit: contain;
  opacity: 0.6;
  align-self: flex-end;
}

/* #donor-image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: auto;
  height: 80%;
} */
#form {
  grid-area: form;
  align-self: end;
  /* justify-self: end; */
  z-index: 1;
  margin-left: 5vw;
  margin-bottom: 10vh;
}
.input-container {
  display: flex;
  gap: 1rem;
  font-size: 1rem;
}
#form > span {
  display: inline-block;
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 1.5rem;
  text-align: left;
  font-weight: 500;
}

label {
  display: inline-block;
  font-size: 1.25rem;
  line-height: 1.25rem;
  margin-bottom: 1.5rem;
}
#form input {
  /* display: inline-block; */
  margin-bottom: 1rem;
  width: 16rem;
  max-width: 16rem;
  gap: 1rem;
  height: 2.25rem;
}
button.form-submit {
  background-color: var(--color-background);
  border: solid 3px var(--color-highlight);
  color: var(--color-highlight);
  flex-shrink: 0;
  height: 2.25rem;
  font-size: 1.25rem;
}
.submit-msg {
  font-size: 1.25rem;
  color: var(--color-highlight);
  font-weight: 500;
  display: none;
}
.form-heading {
  display: block;
}
#emailForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
#emailForm > input {
  width: 80%;
  height: 3rem;
}
/* #emailForm > button {
  background-color: var(--color-highlight);
  color: var(--color-background);
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 4px;
  width: 80%;
} */
#price-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  width: 100%;
  height: 100%;
  z-index: 4;
}
#price {
  position: relative;
  /* background-color: var(--color-background); */
  z-index: 3;
  border-radius: 50%;
  padding: 1rem;
  aspect-ratio: 1/1;
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: -4rem;
  margin-bottom: -7rem;
  background-image: url("assets/price-medal.svg");
}
#price > span {
  display: block;
  text-align: center;
}
#price-current {
  font-size: 4rem;
  line-height: 4rem;
  font-weight: 500;
}
#price-full {
  text-decoration: line-through;
}
button:hover {
  background-color: var(--color-highlight);
  color: var(--color-background);
  box-shadow: 0 4px 8px rgba(239, 200, 7, 0.3);
}

button:active {
  transform: translateY(0);
}

@media (max-width: 768px) {
  button {
    padding: 10px 20px;
    font-size: 0.9rem;
  }
}
